# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
ENV/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml
*.cover
*.py,cover

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Linting
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.*
!.env.example

# IDE - PyCharm
.idea/

# VS Code (se usato)
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.temp

# SQLite databases
*.sqlite3
*.db

# macOS (utile se collabori con utenti Mac)
.DS_Store

workspace_test
workspace_train

pane/

cartella_train/
cartella_test_young_f/
cartella_test_mid_f/
cartella_test_old_f/
cartella_test_mid_m/
cartella_test_old_m/
speaker_temp/
